<div>
<adv-modal show="infoCourse">
  <h4>CMP SCI <span class="bold">{{infoCourse.number}}</span></h4>
  <hr/>
  <p>{{infoCourse.description}}</p>
  <h5>Course Offerings</h5>
  <ul class="row">
    <li class="label info" ng-show="infoCourse.offerings.length == 0">None
      currently scheduled</li>
    <li ng-repeat="o in infoCourse.offerings | orderBy : [ '+year', '-session' ]" class="label success"
      style="margin-right: 1em;">
      {{ o.session }} {{ o.year }}
    </li>
  </ul>
  <h5 ng-show="infoCourse.prequisite">Prerequisites (at least one class from each box)</h5>
  <ul class="row">
    <li class="label info" ng-show="infoCourse.prequisite.additional_preq">{{ infoCourse.prequisite.additional_preq }}</li>
    <li class="label warning" ng-repeat="p in infoCourse.prequisite.or_choice.and_required">
      {{ p }}
    </li>
  </ul>
</adv-modal>
</div>
