<div class="progress-bar" adv-sticky>
    <div ng-show="completedPct > 0" class="completion progress-completed" style="width: {{ completedPct }}%;">
      {{ completed }} hours completed
    </div>
    <div ng-show="scheduledPct > 0" class="completion progress-scheduled" style="width: {{ scheduledPct }}%;">
      {{ scheduled }} hours scheduled
    </div>
    <div ng-show="requiredPct > 0" class="completion progress-required" style="width: {{ requiredPct }}%;">
      {{ required.minTotalHours - completed - scheduled }} required
      hours remaining <span ng-show="remaining6000">( {{ remaining6000
      }} @ 6000 level )</span>
    </div>
  <div class="core-progress" ng-show="required">
    <div style="width: 15%; font-weight: bold;"
    class="progress-required label">Core Courses Remaining:</div>
    <div ng-repeat="core in required.coreCourses"
         style="width: {{ 85. / required.coreCourses.length }}%"
         class="progress-required">
         
      {{ core }} <i class="icon-check"
         ng-show="coreRemaining.indexOf(core) < 0"></i>
    </div>
  </div>
</div>
