<div class="progress-bar">
  <div ng-show="completedPct > 0" class="progress-completed" style="width: {{ completedPct }}%;">
    {{ completed }} hours completed
  </div>
  <div ng-show="scheduledPct > 0" class="progress-scheduled" style="width: {{ scheduledPct }}%;">
    {{ scheduled }} hours scheduled
  </div>
  <div ng-show="requiredPct > 0" class="progress-required" style="width: {{ requiredPct }}%;">
    {{ required.minTotalHours - completed - scheduled }} required hours remaining
  </div>
</div>
