<h5 class="row">Choose your classes from those available each semester</h5>
<div ng-repeat="year in years" class="row schedule">
  <h4 class="twelve columns">{{ year }}</h4>
  <div class="row">
    <div class="six columns">
      <h5 class="term">Spring</h5>
      <ul class="classlist two_up tiles twelve columns">
        <li ng-repeat="course in $parent.courses | needed | available:{ year: year, term: 'Spring' }"  ng-class="{ nottaken: course.status == 'N', scheduled: course.status == 'S'}">
          <div>
            <div class="course-number">
              CMP SCI <span class="bold">{{ course.number }}</span>
            </div>
            <div class="course-title">
              {{course.name | shortenIntro}}
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="six columns">
      <h5 class="term">Fall</h5>
      <ul class="classlist two_up tiles twelve columns">
        <li ng-repeat="course in $parent.courses | needed | available:{ year: year, term: 'Fall' }"  ng-class="{ nottaken: course.status == 'N', scheduled: course.status == 'S'}">
          <div>
            <div class="course-number">
              CMP SCI <span class="bold">{{ course.number }}</span>
            </div>
            <div class="course-title">
              {{course.name | shortenIntro}}
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
