<adv-modal show="startAuto">
  <h3>Auto Schedule Settings</h3>
  <h5>How many hours per semester would you like to take?</h5>
  <div class="field">
    <input ng-model="prefs.minClasses" class="xnarrow input" type="text" placeholder="Min"/>
    <input ng-model="prefs.maxClasses" class="xnarrow input" type="text" placeholder="Max"/>
  </div>
  <h5>What is the maximum number of semesters that want to spend on
    your degree</h5>
  <div class="field">
    <input ng-model="prefs.maxSemesters" class="narrow input" type="text" placeholder="Semesters"/>
  </div>
  <div class="medium primary btn">
    <a ng-click="auto(prefs)" href="">Start Scheduling</a>
  </div>
</adv-modal>

  <h5 class="row">Choose your classes from those available
    each semester or  <div class="medium primary btn"
    ng-click="startAuto = true"><a href="">auto-schedule</a></div> 
  </h5>
</div>
<div ng-repeat="year in years" class="row schedule">
  <h4 class="twelve columns">{{ year }}</h4>
  <h5 class="term">Spring</h5>
  <ul class="classlist three_up tiles twelve columns">
    <li ng-repeat="course in $parent.courses | available:{ year: year, session: 'Spring' } | orderBy:'number'"  
        ng-class="{
              scheduled: course.scheduledOffering &&
                        course.scheduledOffering.year == year && 
                        course.scheduledOffering.session == 'Spring',
              scheduledother: course.scheduledOffering && 
                               (course.scheduledOffering.year != year ||
                                course.scheduledOffering.session != 'Spring'),
              nottaken: course.status == 'N'}"
            ng-show="course.status == 'N' || course.status == 'S'"
            ng-click="schedule(course, year, 'Spring')">
      <div>
        <div class="course-number">
          CMP SCI <span class="bold">{{ course.number }}</span>
        </div>
        <div class="course-title">
          {{course.name | shortenIntro}}
        </div>
      </div>
    </li>
  </ul>
  <h5 class="term">Fall</h5>
  <ul class="classlist three_up tiles twelve columns">
    <li ng-repeat="course in $parent.courses | available:{ year: year, session: 'Fall' } | orderBy:'number'"  
        ng-class="{
              scheduled: course.scheduledOffering &&
                        course.scheduledOffering.year == year && 
                        course.scheduledOffering.session == 'Fall',
              scheduledother: course.scheduledOffering && 
                               (course.scheduledOffering.year != year ||
                               course.scheduledOffering.session != 'Fall'),
              nottaken: course.status == 'N'}"
            ng-show="course.status == 'N' || course.status == 'S'"
            ng-click="schedule(course, year, 'Fall')">
      <div>
        <div class="course-number">
          CMP SCI <span class="bold">{{ course.number }}</span>
        </div>
        <div class="course-title">
          {{course.name | shortenIntro}}
        </div>
      </div>
    </li>
  </ul>
  <h5 class="term">Summer</h5>
  <ul class="classlist three_up tiles twelve columns">
    <li ng-repeat="course in $parent.courses | available:{ year: year, session: 'Summer' } | orderBy:'number'"  
        ng-class="{
              scheduled: course.scheduledOffering &&
                        course.scheduledOffering.year == year && 
                        course.scheduledOffering.session == 'Summer',
              scheduledother: course.scheduledOffering && 
                               (course.scheduledOffering.year != year ||
                               course.scheduledOffering.session != 'Summer'),
              nottaken: course.status == 'N'}"
            ng-show="course.status == 'N' || course.status == 'S'"
            ng-click="schedule(course, year, 'Summer')">
      <div>
        <div class="course-number">
          CMP SCI <span class="bold">{{ course.number }}</span>
        </div>
        <div class="course-title">
          {{course.name | shortenIntro}}
        </div>
      </div>
    </li>
  </ul>
</div>
