<h5 class="row summary" ng-show="schedule">Planned Schedule</h5>
<div class="row summary" ng-repeat="(year, sessions) in schedule">
  <div ng-repeat="session in sessions | defined">
    <p>
      <span class="bold">{{session.session}} {{year}}</span>
      <span ng-show="$parent.$last && $last && totalHours > 21"
            class="notify">
        <i class="icon-attention"></i>You
      should file paperwork for graduation before this semester</span>
    </p>
    <hr>
    <ul>
      <li ng-repeat="course in session.courses">
        CMP SCI <span class="bold">{{ course.number }}</span> // {{
        course.name }}
        
      </li>
    </ul>
  </div>
</div>

<div class="row summary" ng-show="!schedule">
  <h5>No classes scheduled</h5>
</div>

<div class="row summary" ng-show="completed">
  <p><span class="bold">Completed Classes</span></p>
  <hr>
  <ul>
    <li ng-repeat="course in completed">
      CMP SCI <span class="bold">{{ course.number }}</span> // {{
      course.name }}
    </li>
  </ul>
</div>

<div class="row summary" ng-show="waived">
  <p ng-show="waived"><span class="bold">Waived Classes</span></p>
  <hr>
  <ul>
    <li ng-repeat="course in waived">
      CMP SCI <span class="bold">{{ course.number }}</span> // {{
      course.name }}
    </li>
  </ul>
</div>
<div class="row summary notes" ng-show="schedule">
  <p><span class="bold">Notes:</span></p>
  <ul class="notes">
    <li ng-repeat="note in notifications">
      {{ note }}
    </li>
  </ul>
</div>
