.notifications, .notifications-toggle {
  z-index: 10000;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: $darkfont;
 
  &.drawer {
    background-color: $nottaken-bg;
    border-top: 1px solid darken($nottaken-bg, 10);
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  .close-btn, .open-btn {
    position: absolute;
    top: 2px;
    left: 2px;

    &:hover {
      color: $completed-bg;
      cursor: pointer;
    }
  }
}

.notifications-toggle {
  min-height: 30px;
  vertical-align: center;
}