.notifications {
  z-index: 10000;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
 
  &.drawer {
    background-color: $nottaken-bg;
    border-top: 1px solid darken($nottaken-bg, 10);
    box-shadow: none;
    -webkit-box-shadow: none;
  }
}