.progress-bar {
    z-index: 1001;
    width: 100%;
    left: 0;
    right: 0;
    position: relative;
    height: 1em;

    div {
        height: 100%;
        float: left;
        font-size: 70%;
        text-align: center;
        line-height: 1.5em;
        width: 0%;
        overflow: hidden;
    }
    .progress-completed {
        color: $lightfont;
        background-color: $completed-bg;
        border-bottom: 1px solid darken($completed-bg, 10);
    }

    .progress-required {
        background-color: $nottaken-bg;
        border-bottom: 1px solid darken($nottaken-bg, 10);
    }

    .progress-scheduled {
        background-color: $scheduled-bg;
        border-bottom: 1px solid darken($scheduled-bg, 10);
        color: $lightfont;
    }
}

.progress-bar .core-progress {
    width: 100%;
    left: 0;
    right: 0;
    position: relative;
    height: 1.5em;

    div {
        height: 100%;
        float: left;
        font-size: 100%;
        line-height: 1.5em;
        text-align: center;
        border-right: 1px solid darken($nottaken-bg, 10);
        color: $darkfont;
        
        &.completed {
          text-decoration: line-through;
        }
    }

    .label {
      border-right: 1px solid darken($nottaken-bg, 50);
    }

}