.progress-bar {
    width: 100%;
    left: 0;
    right: 0;
    position: relative;
    height: 1em;

    div {
        height: 100%;
        float: left;
        font-size: 70%;
        text-align: center;
        line-height: 1.5em;
        width: 0%;
    }
    .progress-completed {
        color: $lightfont;
        background-color: $completed-bg;
        border-bottom: 1px solid darken($completed-bg, 10);
    }

    .progress-required {
        background-color: $nottaken-bg;
        border-bottom: 1px solid darken($nottaken-bg, 10);
    }

    .progress-scheduled {
        background-color: $scheduled-bg;
        border-bottom: 1px solid darken($scheduled-bg, 10);
        color: $lightfont;
    }
}

.core-status {
    width: 100%;
    left: 0;
    right: 0;
    position: relative;
    height: 1em;

    div {
        height: 100%;
        float: left;
        font-size: 70%;
        text-align: center;
        line-height: 1.5em;
        border-right: 1px solid #333;
        color: $lightfont;
    }
}