
/* Varibales */
$nottaken-bg: #e9e9e9;
$nottaken-hover: #f9f9f9;
$completed-bg: #981e32;
$waived-bg: #EAAB00;
$scheduled-bg: #0E83CD;
$darkfont: #333;
$lightfont: #FFF;

/* Imports */
@import 'progress';
@import 'notify';

.navbar {
  margin-bottom: 30px;
  color: #FFF;

  .logo {
    margin: 0;
  }

  #pref-nav {
    float: left;
  }

  #main-nav {
    float: right;
  }

  h3 a {
    font-weight: bolder;
    color: #FFF;
  }

  .help {

    i {
      font-size: 1.3em;
    }

    &:hover {
      color: $waived-bg;
      cursor: pointer;
    }
  }

}

label.checkbox {
  font-size: 18px;                     
  font-size: 1.125rem;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

.help.modal .content {
  width: 90%;
  height: 90%;
  top: 10%;
  max-height: 80%;
}

.disclaimer {
  color: $completed-bg;
}

.bold {
  font-weight: bold;
}
.tiles {
  &.six_up {
	margin-left: -1.5%;
	> li, > .tile {
		margin-left: 1.5%;
		width: 15.1%;
        }
	}
}

.classchooser {
  h5 {
    margin-bottom: 1.25%;
  }

  li {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
}

.classlist {
    li {
        position: relative;
	    display: block;
	    padding: 0.5em;
	    margin-bottom: 1.25%;

        &:hover {
	        background-color: $nottaken-hover;
	        cursor: pointer;
        }
    }
    .course-title {
        font-size: 75%;
    }
}

.schedule {
    .year {
        font-weight: normal;
    }
}

li {

   &.nottaken .info:hover {
     color: $completed-bg;
   }
   &.waived .info:hover {
     color: $lightfont;
   }
   &.completed .info:hover, &.scheduled .info:hover {
     color: darken($lightfont, 30);
   }

   .info { 
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 1000;
    }

    .other-scheduled {
      position: absolute;
      right: 30px;
      top: 0.4em;
      font-size: 75%;
      line-height: 20px;
      color: lighten($darkfont, 40);
    }
}


li.nottaken {
	background-color: $nottaken-bg;
	border: 1px solid darken($nottaken-bg, 13);
	color: $darkfont;
}
li.completed {
	background-color: $completed-bg !important;
    border: 1px solid darken($completed-bg, 13);
	color: $lightfont;
}
li.waived {
    background-color: $waived-bg !important;
    border: 1px solid darken($waived-bg, 10);
    color: $darkfont;
}
li.scheduled {
	background-color: $scheduled-bg !important;
    border: 1px solid darken($scheduled-bg, 10);
	color: $lightfont;
}
li.scheduledother {
    background-color: lighten($nottaken-bg, 30) !important;
    border: 1px solid $nottaken-bg;
    color: lighten($darkfont, 40);
}

.sticky {
  position: fixed;
  top: 0;

}

h5.summary {
  margin-bottom: 1em;
  font-weight: 500;
}


.summary {
  p {
    margin-bottom: 0.2em;
  }
  
  hr {
    margin-top: 0;
    margin-bottom: 0.5em;
  }


  &.notes {
    background-color: #D3D3D3;
    border: 1px solid #333;
    margin-top: 1em;
    padding: 0.5em;
  }
}