/* Varibales */
/* Imports */
/* line 1, ../../sass/_progress.scss */
.progress-bar {
  z-index: 1001;
  width: 100%;
  left: 0;
  right: 0;
  position: relative;
  height: 1em;
}
/* line 9, ../../sass/_progress.scss */
.progress-bar div {
  height: 100%;
  float: left;
  font-size: 70%;
  text-align: center;
  line-height: 1.5em;
  width: 0%;
  overflow: hidden;
}
/* line 18, ../../sass/_progress.scss */
.progress-bar .progress-completed {
  color: white;
  background-color: #981e32;
  border-bottom: 1px solid #6d1624;
}
/* line 24, ../../sass/_progress.scss */
.progress-bar .progress-required {
  background-color: #e9e9e9;
  border-bottom: 1px solid #d0d0d0;
}
/* line 29, ../../sass/_progress.scss */
.progress-bar .progress-scheduled {
  background-color: #0e83cd;
  border-bottom: 1px solid #0b649d;
  color: white;
}

/* line 36, ../../sass/_progress.scss */
.progress-bar .core-progress {
  width: 100%;
  left: 0;
  right: 0;
  position: relative;
  height: 1.5em;
}
/* line 43, ../../sass/_progress.scss */
.progress-bar .core-progress div {
  height: 100%;
  float: left;
  font-size: 100%;
  line-height: 1.5em;
  text-align: center;
  border-right: 1px solid #d0d0d0;
  color: #333333;
}
/* line 52, ../../sass/_progress.scss */
.progress-bar .core-progress div.completed {
  text-decoration: line-through;
}
/* line 57, ../../sass/_progress.scss */
.progress-bar .core-progress .label {
  border-right: 1px solid #6a6a6a;
}

/* line 1, ../../sass/_notify.scss */
.notifications {
  z-index: 10000;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 8, ../../sass/_notify.scss */
.notifications.drawer {
  background-color: #e9e9e9;
  border-top: 1px solid #d0d0d0;
  box-shadow: none;
  -webkit-box-shadow: none;
}

/* line 15, ../../sass/style.scss */
.navbar {
  margin-bottom: 30px;
}
/* line 18, ../../sass/style.scss */
.navbar h3 a {
  color: #FFF;
  font-weight: bolder;
}

/* line 24, ../../sass/style.scss */
.bold {
  font-weight: bold;
}

/* line 28, ../../sass/style.scss */
.tiles.six_up {
  margin-left: -1.5%;
}
/* line 30, ../../sass/style.scss */
.tiles.six_up > li, .tiles.six_up > .tile {
  margin-left: 1.5%;
  width: 15.1%;
}

/* line 38, ../../sass/style.scss */
.classchooser h5 {
  margin-bottom: 1.25%;
}
/* line 42, ../../sass/style.scss */
.classchooser li {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 53, ../../sass/style.scss */
.classlist li {
  position: relative;
  display: block;
  padding: 0.5em;
  margin-bottom: 1.25%;
}
/* line 59, ../../sass/style.scss */
.classlist li:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}
/* line 64, ../../sass/style.scss */
.classlist .course-title {
  font-size: 75%;
}

/* line 70, ../../sass/style.scss */
.schedule .term {
  font-weight: bold;
}

/* line 77, ../../sass/style.scss */
li.nottaken .info:hover {
  color: #981e32;
}
/* line 80, ../../sass/style.scss */
li.waived .info:hover {
  color: white;
}
/* line 83, ../../sass/style.scss */
li.completed .info:hover, li.scheduled .info:hover {
  color: #b3b3b3;
}
/* line 87, ../../sass/style.scss */
li .info {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1000;
}

/* line 96, ../../sass/style.scss */
li.nottaken {
  background-color: #e9e9e9;
  border: 1px solid #c8c8c8;
  color: #333333;
}

/* line 101, ../../sass/style.scss */
li.completed {
  background-color: #981e32 !important;
  border: 1px solid #611320;
  color: white;
}

/* line 106, ../../sass/style.scss */
li.waived {
  background-color: #eaab00 !important;
  border: 1px solid #b78600;
  color: #333333;
}

/* line 111, ../../sass/style.scss */
li.scheduled {
  background-color: #0e83cd !important;
  border: 1px solid #0b649d;
  color: white;
}

/* line 116, ../../sass/style.scss */
li.scheduledother {
  background-color: white !important;
  border: 1px solid #e9e9e9;
  color: #999999;
}

/* line 122, ../../sass/style.scss */
.sticky {
  position: fixed;
  top: 0;
}
