<!doctype html>
<html lang="en" ng-app="advisor">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UMSL Computer Science Graduate Advisor</title>

	<link href="css/gumby.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
  </head>
  <body ng-controller="MasterCtrl">
	<div class="navbar">
	  <div class="row">
		<h3 class="four columns logo">
		  <a href="#/">CS Graduate Advisor</a>
		</h3>
        <nav class="eight columns pull_right">
          <ul id="main-nav">
            <li>
              <input id="international-user" type="checkbox" ng-model="user.intl">
              <label for="international-user">International Student Mode</label>
            </li>
            <li>
              <i class="icon-help-circled help" ng-click="help = true"></i>
            </li>
          </ul>
        </nav>
	  </div>
      <adv-progress></adv-progress>
    </div>

    <adv-modal show="help" class="help">
      <h4>Need help?</h4>
      <p><a href="http://www.umsl.edu/mathcs/index.html" target="_blank">Department Home</a></p>
      <p><a href="http://www.umsl.edu/mathcs/graduate-studies/ms-compsci.html" target="_blank">Official Degree Requirements</a></p>
      <p>This system serves to help you, the UMSL Master's of Science in Computer Science student, see your progress through your courses and choose those that will help you complete your degree.</p>
      <p>The first step is to input those classes that you have completed or waived.  Click or tap once the box representing each class you have completed and twice the box for each class you have had waived.  If you want to read a description of a class, click the &quot;i&quot; symbol at the top right corner of each class box.  As you input your course history, the progress bars on the top of the screen will update to reflect your selections.</p>
      <p>Once you have marked courses to reflect your current progress, click the &quot;Schedule&quot; link to pick classes for the future.  You can either hand-pick classes in each semester, or use the Auto-Schedule function to have classes selected for you.  Either way, notifications will be displayed at the bottom of the page to help you determine which classes you still need to complete your degree.</p>
      <p>Click or tap the &quot;Auto-Schedule&quot; button to let the system pick classes for you.  A dialog will ask you your preferences for how many classes you would like to take per semester or in how many semesters you would like to graduate; all of these are optional.  Click the "Start Scheduling" button to ask the system to select your classes.</p>
      <p>The &quot;International Student Mode&quot; check-box enforces the requirement that students with study visas must take at least nine (9) hours every semester to be considered full-time and maintain their status.</p>
      <p>Keep in mind that there are non-course requirements for graduation.  After you have completed 21 hours of graduate study, you must notify the department administrative assistant the semester before you intend to graduate.  You must also attend five (5) or more department colloquia.</p>   
    </adv-modal>
      

    <adv-notify></adv-notify>
	<div ng-view></div>
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular/angular-route.js"></script>
	<script src="lib/fastclick/fastclick.js"></script>
	<script src="js/app.js"></script>
	<script src="js/services.js"></script>
	<script src="js/controllers.js"></script>
	<!-- <script src="js/filters.js"></script> -->
	<script src="js/directives.js"></script>
  </body>
</html>
